.expense-details {
  padding: 8px 12px;
}
.expense-details-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.back-button {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cancel-button {
  color: red;
}

.back-button i {
  display: flex;
  align-items: center;
  margin-right: 4px;
}

.expense-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details-heading {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}
.expense-info-card {
  background: white;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  border-radius: 12px;
  padding: 12px;
  width: 60%;
  min-height: 40vh;
}
.expense-name {
  font-size: 20px;
  font-weight: 500;
  border-bottom: 2px solid #00d09c;
  padding-bottom: 12px;
  width: max-content;
}
.form-item {
  margin: 20px 0px;
  padding: 4px;
  border-radius: 6px;
  background-color: white;
  border: 1px solid lightgray;
  min-height: 30px;
}

.form-item label {
  background-color: lightgrey;
  padding: 6px 12px;
  border-radius: 0px 6px 6px 0px;
  min-height: 30px;
  margin-right: 24px;
}
.form-item input {
  font-size: 16px;
  border: none;
  width: 70%;
  outline: none;
  min-height: 40px;
}

.due-date-conatiner {
  display: flex;
  justify-content: baseline;
  flex-direction: row;
}

.date-label {
  background-color: lightgrey;
  padding: 6px 12px;
  border-radius: 0px 6px 6px 0px;
  min-height: 30px;
  margin-right: 24px;
}

.react-datepicker-wrapper {
  width: 10% !important;
}

.due-date-conatiner {
  width: fit-content;
}

.due-date {
  background-color: white;
  padding: 8px;
  width: fit-content;
  border-radius: 6px;
}

.form-add-button {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.form-add-button div {
  display: flex;
  border: 1px solid black;
  padding: 2px 8px;
  border-radius: 6px;
  cursor: pointer;
}
.form-add-button div i {
  display: flex;
  align-items: center;
  margin-left: 6px;
}
.add-btn {
  cursor: pointer;
}
@media only screen and (max-width: 1024px) {
  .expense-info-card {
    width: 80%;
  }
  .expense-name {
    font-size: 18px;
  }
  .form-item {
    width: 100%;
  }
  .form-item input {
    width: 70%;
  }
  .amount-input {
    width: 50% !important;
  }
}
@media only screen and (max-width: 512px) {
  .expense-info-card {
    width: 90%;
  }
  .expense-name {
    font-size: 16px;
  }
}
