.all-expenses {
  padding: 8px 12px;
}

.all-expenses-table {
  overflow-x: scroll;
}
.all-expenses-options {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 12px 0px;
  align-items: flex-end;
}
.options-dropdown {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.search {
  background-color: white;
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 20px;
  height: max-content;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}
.search input {
  width: 100%;

  outline: none;
  border: none;
}
.dropdown-parent {
  width: 48%;
}
.dropdown-title-label {
  margin-left: 6px;
  margin-bottom: 6px;
  font-size: 14px;
}

.add-expense-btn {
  padding: 12px 16px;
  background-color: #00baff;
  border-radius: 8px;
  border-style: none;
  cursor: pointer;
  color: white;
  font-weight: bolder;
}
@media only screen and (max-width: 780px) {
  .options-dropdown {
    width: 90%;
    margin-top: 12px;
  }
  .all-expenses-options {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .search {
    width: 90%;
  }
}
